---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
const pageTitle = "文章";

// 使用Astro內建API讀取全部文章檔案, 取得後往本地allPosts保存
// const allPosts = await Astro.glob("./posts/*.md");
const allPosts = await getCollection("posts");
---

<BaseLayout pageTitle={pageTitle}>
  <ul>
    <!-- <li><a href="/posts/post-1">第1篇文章</a></li>
    <li><a href="/posts/post-2">第2篇文章</a></li>
    <li><a href="/posts/post-3">第3篇文章</a></li> -->

    <!-- 現在可以動態生成文章列表了 -->
    {
      allPosts.map((post) => (
        // 把li結構拆分寫成元件
        // <li>
        //   <a href={post.url}>{post.frontmatter.title}</a>
        // </li>
        // <BlogPost url={post.url} title={post.frontmatter.title} />
        <BlogPost url={`/posts/${post.slug}/`} title={post.data.title} />
      ))
    }
  </ul>
</BaseLayout>
