---
// 使文章分頁頁籤也享有BaseLayout公用結構
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <p><em>{frontmatter.description}</em></p>
  <p>{frontmatter.pubDate.toString().slice(0, 10)}</p>

  <p>作者: {frontmatter.author}</p>

  <img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} />

  <div class="tags">
    {
      // 從當前部落格的frontmatter中讀取並顯示關鍵字tag
      frontmatter.tags.map((tag) => (
        <p class="tag">
          <a href={`/tags/${tag}`}>{tag}</a>
        </p>
      ))
    }
  </div>

  <slot />
</BaseLayout>
<style>
  a {
    color: #00539f;
  }

  .tags {
    /* display: flex; */
    /* flex-wrap: wrap; */

    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }

  .tag {
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    font-size: 1.15em;
    background-color: #f8fcfd;
  }
</style>
